body {
  background: linear-gradient(to top, #FAD2E1 65%, #FFFFFF);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
a :focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
}
button :focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}
button a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 670px;
}

main section p {
  width: 75%;
}

main .section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 25px;
  height: 210px;
}

main .section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 25px;
  height: 210px;
}

main .formulario {
  background: linear-gradient(to bottom, #FAD2E1 65%, #FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 25px;
  height: 785px;
  width: 500px;
}

main .formularioAlimentos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 10px;
  height: 250px;
  width: 600px;
}

main form * {
  margin: 5px;
}

main form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo .partetitulo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tituloVersion2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.divIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input, select {
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
}
input :focus, select :focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

#gastocalorico {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  height: 15px;
  text-align: center;
}

.oculto {
  display: none;
}

#botonMostrarDieta, #botonMostrarDietaSubirPeso {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 160px;
  height: 45px;
  font-size: 20px;
}

#divMostrarDieta, #divMostrarDietaSubirPeso {
  background: linear-gradient(to top, #FAD2E1 65%, #FFFFFF);
  margin-top: 50px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
